**
*

!**/src
!./CMake*
!./vcpkg*.json
!./.clang-*
!./fuel.lut
!bounds.geojson
!**/scripts/*.sh
!./settings.ini
!./config

**/src/py/**/*.sh
**/src/**/.git*
**/__pycache__

!firestarr
!./cmake
./vcpkg
