name: build-docker

on:
  push:
    branches: [ "main", "dev", "unstable" ]
    tags: [ "*" ]
  workflow_dispatch:

env:
  REGISTRY_IMAGE: ghcr.io/cwfmf/firestarr-cpp/firestarr

jobs:
  build-firestarr:
    uses: ./.github/workflows/build-docker-image.yml
    with:
      image: firestarr

  # uses cache from previous image so don't do at the same time
  build-firestarr-minimal:
    needs: [ build-firestarr ]
    uses: ./.github/workflows/build-docker-image.yml
    with:
      image: firestarr-minimal
