name: build-docker

on:
  push:
    branches: [ "main", "dev", "unstable" ]
    tags: [ "*" ]
  workflow_dispatch:

jobs:
  # specifically package this so build process doesn't keep redoing it
  build-docker-vcpkg-installed:
    uses: ./.github/workflows/build-docker-image.yml
    with:
      image: vcpkg-installed

  build-docker-normal:
    needs: [build-docker-vcpkg-installed]
    uses: ./.github/workflows/build-docker-image.yml
    with:
      image: firestarr

  build-docker-minimal:
    needs: [build-docker-normal]
    uses: ./.github/workflows/build-docker-image.yml
    with:
      image: firestarr-minimal

  cleanup-docker-cache:
    needs: [build-docker-minimal]
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write
    steps:
      - uses: dataaxiom/ghcr-cleanup-action@v1
        with:
          dry-run: true
          # FIX: leave firestarr alone for now since it has the history of things from the start
          # packages: firestarr,firestarr-cpp/firestarr
          packages: firestarr-cpp/cache
          delete-untagged: true
          delete-ghost-images: true
          delete-partial-images: true
          delete-orphaned-images: true
