name: build-docker

on:
  push:
    branches: [ "main", "dev", "unstable" ]
    tags: [ "*" ]
  workflow_dispatch:

jobs:
  # specifically package this so build process doesn't keep redoing it
  build-docker-vcpkg-installed:
    uses: ./.github/workflows/build-docker-image.yml
    with:
      image: vcpkg-installed

  build-docker-normal:
    needs: [build-docker-vcpkg-installed]
    uses: ./.github/workflows/build-docker-image.yml
    with:
      image: firestarr

  build-docker-minimal:
    needs: [build-docker-normal]
    uses: ./.github/workflows/build-docker-image.yml
    with:
      image: firestarr-minimal
