name: build-docker-image

on:
  workflow_call:
    inputs:
      image:
        required: true
        type: string

env:
  BUILDX_NO_DEFAULT_ATTESTATIONS: 1
  REGISTRY_IMAGE: ghcr.io/cwfmf/firestarr-cpp/${{ inputs.image }}

jobs:
  build-docker-image:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    strategy:
      fail-fast: false
      matrix:
        # ppc64le - cc1: error: '-m64' requires a PowerPC64 cpu
        # riscv64 - cc1plus: error: '-mcpu=native': unknown CPU
        # arm/v5 - undefined reference to `std::__atomic_futex_unsigned_base::_M_futex_wait_until
        # platform: [amd64, arm/v7, arm64/v8, ppc64le, s390x, arm/v5, riscv64]
        platform: [amd64, arm/v7, arm64/v8, s390x]
    steps:
      - uses: actions/checkout@v4

      - name: Prepare
        run: |
          platform=${{ matrix.platform }}
          echo "PLATFORM_PAIR=${platform//\//-}" >> $GITHUB_ENV

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY_IMAGE }}

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push by digest
        id: build
        uses: docker/build-push-action@v6
        with:
          context: .
          file: .docker/Dockerfile
          target: ${{ inputs.image }}
          platforms: linux/${{ matrix.platform }}
          labels: ${{ steps.meta.outputs.labels }}
          tags: ${{ env.REGISTRY_IMAGE }}
          outputs: type=image,push-by-digest=true,name-canonical=true,push=true
          # ${{ github.repository }} isn't lowercase so manually specify
          # using just 'cache' means only the last thing to finish survives the cleanup since the rest are untagged
          # HACK: hardcode cache-from for each image for now
          cache-from: |
            type=registry,ref=ghcr.io/cwfmf/firestarr-cpp/cache:firestarr-minimal-${{ env.PLATFORM_PAIR }}
            type=registry,ref=ghcr.io/cwfmf/firestarr-cpp/cache:firestarr-${{ env.PLATFORM_PAIR }}
            type=registry,ref=ghcr.io/cwfmf/firestarr-cpp/cache:vcpkg-installed-${{ env.PLATFORM_PAIR }}
            type=registry,ref=ghcr.io/cwfmf/firestarr-cpp/cache
          cache-to: type=registry,ref=ghcr.io/cwfmf/firestarr-cpp/cache:${{ inputs.image }}-${{ env.PLATFORM_PAIR }},mode=max

      - name: Export digest
        run: |
          mkdir -p ${{ runner.temp }}/digests
          digest="${{ steps.build.outputs.digest }}"
          touch "${{ runner.temp }}/digests/${digest#sha256:}"

      - name: Upload digest
        uses: actions/upload-artifact@v4
        with:
          name: digests-${{ inputs.image }}-${{ env.PLATFORM_PAIR }}
          path: ${{ runner.temp }}/digests/*
          if-no-files-found: error
          retention-days: 1

  merge:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write
    needs: [ build-docker-image ]
    steps:
      - uses: actions/checkout@v4

      - name: Download digests
        uses: actions/download-artifact@v4
        with:
          path: ${{ runner.temp }}/digests
          pattern: digests-${{ inputs.image }}-*
          merge-multiple: true

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY_IMAGE }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            # set latest tag for default branch
            type=raw,value=latest,enable={{is_default_branch}}

      - name: Create manifest list and push
        working-directory: ${{ runner.temp }}/digests
        run: |
          docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
            $(printf '${{ env.REGISTRY_IMAGE }}@sha256:%s ' *)

      - name: Inspect image
        run: |
          docker buildx imagetools inspect ${{ env.REGISTRY_IMAGE }}:${{ steps.meta.outputs.version }}

  # cleanup-docker:
  #   needs: [merge]
  #   runs-on: ubuntu-24.04
  #   permissions:
  #     contents: read
  #     packages: write
  #   steps:
  #     - uses: dataaxiom/ghcr-cleanup-action@v1
  #       with:
  #         # dry-run: true
  #         # FIX: leave firestarr alone for now since it has the history of things from the start
  #         # packages: firestarr,firestarr-cpp/firestarr
  #         packages: firestarr-cpp/${{ inputs.image }}
  #         delete-untagged: true
  #         delete-ghost-images: true
  #         delete-partial-images: true
  #         delete-orphaned-images: true
