name: build-docker

on:
  push:
    branches: [ "main", "dev", "unstable" ]
    tags: [ "*" ]
  workflow_dispatch:
  workflow_call:

jobs:
  build-firestarr:
    uses: ./.github/workflows/build-docker-image.yml
    with:
      image: firestarr

  # FIX: Error: Failed to CreateArtifact: Received non-retryable error:
  #      Failed request: (409) Conflict: an artifact with this name already
  #      exists on the workflow run
  # # uses cache from previous image so don't do at the same time
  # build-firestarr-minimal:
  #   needs: [ build-firestarr ]
  #   uses: ./.github/workflows/build-docker-image.yml
  #   with:
  #     image: firestarr-minimal
