name: cmake-test

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]

jobs:
  cmake-test-macos:
    uses: ./.github/workflows/cmake-test-on.yml
    with:
      os: ${{ matrix.os }}
      os_version: ${{ matrix.os_version }}
      compiler: ${{ matrix.compiler }}
      triplet: ${{ matrix.triplet }}
      build_type: ${{ matrix.build_type }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos]
        os_version: [latest]
        compiler: [clang++]
        variant: [Debug, Release]

  cmake-test-ubuntu:
    uses: ./.github/workflows/cmake-test-on.yml
    with:
      os: ${{ matrix.os }}
      os_version: ${{ matrix.os_version }}
      compiler: ${{ matrix.compiler }}
      triplet: ${{ matrix.triplet }}
      build_type: ${{ matrix.build_type }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu]
        os_version: [latest]
        compiler: [clang++, g++]
        variant: [Debug, Release]

  cmake-test-windows:
    uses: ./.github/workflows/cmake-test-on.yml
    with:
      os: ${{ matrix.os }}
      os_version: ${{ matrix.os_version }}
      compiler: ${{ matrix.compiler }}
      triplet: ${{ matrix.triplet }}
      build_type: ${{ matrix.build_type }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows]
        os_version: [latest]
        compiler: [cl]
        variant: [Debug, Release]

  cmake-test:
    needs: [cmake-test-ubuntu, cmake-test-macos, cmake-test-windows]
    runs-on: ubuntu-latest

    steps:
      - run: |
          echo "All tests completed"
