name: cmake-test

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]

jobs:
  cmake-test:
    uses: ./.github/workflows/cmake-test.yml
    with:
      os: ${{ matrix.os }}
      os_version: ${{ matrix.os_version }}
      compiler: ${{ matrix.compiler }}
      triplet: ${{ matrix.triplet }}
      build_type: ${{ matrix.build_type }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos, ubuntu, windows]
        os_version: [latest]
        compiler: [cl, clang++, g++]
        variant: [Debug, Release]
        include:
          - os: macos
            compiler: clang++
            triplet: arm64-osx
          - os: ubuntu
            compiler: clang++
            triplet: x64-linux
          - os: ubuntu
            compiler: g++
            triplet: x64-linux
          - os: windows
            compiler: cl
            triplet: x64-windows
        exclude:
          - os: macos
            compiler: cl
          - os: macos
            compiler: g++
          - os: ubuntu
            compiler: cl
          - os: windows
            compiler: clang++
          - os: windows
            compiler: g++
