on:
  workflow_call:
    inputs:
      os:
        required: true
        type: string
      os_version:
        required: true
        type: string
      compiler:
        required: true
        type: string
      triplet:
        required: true
        type: string
      variant:
        required: true
        type: string

jobs:
  cmake-test:
    name:  ${{ inputs.os }}-${{ inputs.os_version }}-${{ inputs.compiler }}-${{ matrix.variant }}
    runs-on: ${{ inputs.os }}-${{ inputs.os_version }}
    strategy:
      fail-fast: false
      matrix:
        variant: [Debug, Release]
    env:
      CXX: ${{ inputs.compiler }}
      VCPKG_DEFAULT_TRIPLET: ${{ inputs.triplet }}
      VCPKG_DISABLE_METRICS: true
      VCPKG_ROOT: ${{ github.workspace }}/vcpkg
      VCPKG_DEFAULT_BINARY_CACHE: ${{ github.workspace }}/vcpkg/.cache

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true

    - uses: ilammy/msvc-dev-cmd@v1

    - uses: friendlyanon/setup-vcpkg@v1
      with:
        committish: 2025.12.12
        # getting a warning when cache exists, so just save/restore ourselves
        cache: false

    - uses: actions/cache@v4
      with:
        # vcpkg always builds release, so share cache between debug and release
        key: vcpkg-${{ inputs.os }}-${{ inputs.os_version }}-${{ inputs.compiler }}-${{ hashFiles('vcpkg.json', '.github/vcpkg_overlays/**') }}
        path: |
          ${{ env.VCPKG_DEFAULT_BINARY_CACHE }}

    - run: cmake --preset ${{ matrix.variant }}

    - name: Run cmake --build --parallel --preset ${{ matrix.variant }}
      run: |
        echo "::add-matcher::.github/cmake-problem-matcher.json"
        cmake --build --parallel --preset ${{ matrix.variant }}

    - run: ./firestarr -h

    - run: ctest --output-on-failure --preset ${{ matrix.variant }}

    - run: ./firestarr . 2024-06-03 58.81228184403946 -122.9117103995713 01:00 --ffmc 89.9 --dmc 59.5 --dc 450.9 --apcp_prev 0 -v --wx ./test/input/10N_50651/firestarr_10N_50651_wx.csv --output_date_offsets [1] --tz -5 --raster-root ./test/input/10N_50651/ --perim ./test/input/10N_50651/10N_50651.tif

    - uses: .github/workflows/package-binary.yml
      if: ${{ matrix.variant == 'Release' }}
      with:
        os: ${{ inputs.os }}
        os_version: ${{ inputs.os_version }}
        compiler: ${{ inputs.compiler }}
        triplet: ${{ inputs.triplet }}
