name: cmake-test

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]

jobs:
  job:
    name: ${{ matrix.os }}-${{ matrix.os_version }}-${{ matrix.compiler }}-${{ matrix.variant }}
    runs-on: ${{ matrix.os }}-${{ matrix.os_version }}

    strategy:
      fail-fast: false
      matrix:
        os: [macos, ubuntu, windows]
        os_version: [latest]
        compiler: [cl, clang++, g++]
        variant: [Debug, Release]
        include:
          - os: macos
            compiler: clang++
            triplet: arm64-osx
          - os: ubuntu
            compiler: clang++
            triplet: x64-linux
          - os: ubuntu
            compiler: g++
            triplet: x64-linux
          - os: windows
            compiler: cl
            triplet: x64-windows
        exclude:
          - os: macos
            compiler: cl
          - os: macos
            compiler: g++
          - os: ubuntu
            compiler: cl
          - os: windows
            compiler: clang++
          - os: windows
            compiler: g++

    env:
      CXX: ${{ matrix.compiler }}
      VCPKG_DEFAULT_TRIPLET: ${{ matrix.triplet }}
      VCPKG_DISABLE_METRICS: true
      VCPKG_ROOT: ${{ github.workspace }}/vcpkg
      VCPKG_DEFAULT_BINARY_CACHE: ${{ github.workspace }}/vcpkg/.cache

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true

    - uses: ilammy/msvc-dev-cmd@v1

    - uses: friendlyanon/setup-vcpkg@v1
      with:
        committish: 2025.12.12
        # getting a warning when cache exists, so just save/restore ourselves
        cache: false

    - uses: actions/cache@v4
      with:
        # vcpkg always builds release, so share cache between debug and release
        key: vcpkg-${{ matrix.os }}-${{ matrix.os_version }}-${{ matrix.compiler }}-${{ hashFiles('vcpkg.json', '.github/vcpkg_overlays/**') }}
        path: |
          ${{ env.VCPKG_DEFAULT_BINARY_CACHE }}

    - run: cmake --preset ${{ matrix.variant }}

    - name: Run cmake --build --parallel --preset ${{ matrix.variant }}
      run: |
        echo "::add-matcher::.github/cmake-problem-matcher.json"
        cmake --build --parallel --preset ${{ matrix.variant }}

    - run: ./firestarr -h

    - run: ctest --output-on-failure --preset ${{ matrix.variant }}

    - run: ./firestarr . 2024-06-03 58.81228184403946 -122.9117103995713 01:00 --ffmc 89.9 --dmc 59.5 --dc 450.9 --apcp_prev 0 -v --wx ./test/input/10N_50651/firestarr_10N_50651_wx.csv --output_date_offsets [1] --tz -5 --raster-root ./test/input/10N_50651/ --perim ./test/input/10N_50651/10N_50651.tif
